/* Встановлюємо для body повний розмір вікна та flexbox для центрованого вирівнювання */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Для візуального тестування */
  }

/* Зовнішня рамка форми */
.feedback-form {
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  /* Внутрішня рамка для елементів форми */
  .feedback-form label {
    display: block;
    padding: 0px;
    width: 360px;
    font-family: var(--font-family);

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  
  /* Поле Email */
  .feedback-form input[type="email"] {
    width: 360px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    box-sizing: border-box;
  }
  
  /* Поле Message */
  .feedback-form textarea {
    width: 360px;
    height: 80px;
    margin-top: 8px;
    margin-bottom: 9px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    box-sizing: border-box;
    resize: none;
  }
  
  /* Кнопка Submit */
  .feedback-form button {
    width: 95px;
    height: 40px;
    background: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
    position: relative;
}
  
  .feedback-form button[type="submit"]:hover {
    background-color: #3d5fd0;
  }

  .top-left-link {
    position: absolute;
    top: 10px;
    left: 10px;
    /* text-decoration: none;
    color: #000;
    font-size: 16px; */
  }
  