.custom-btn {
    display: inline-block;
    padding: 8px 15px; /* Less padding to reduce width */
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 120px; /* Fixed smaller width */
  }
  
  .custom-btn:hover {
    background-color: #0056b3;
  }
  
  .btn-spacing {
    margin-right: 10px;
  }
  
    /* Increasing the distance between the buttons */
  li {
    margin-bottom: 20px; /* Distance between list elements */
  }